<aside class="container_big-card">
<section>
  <div class="big-card_photo">
    <img src="https://res.cloudinary.com/ismaestro/image/upload/v1699351308/ismaelramos/posts/updates-from-the-angular-team-and-new-angular-17-features/ahlob-knd0u_rohlea.avif"
    alt=""
    >
  </div>
  <div class="big-card_title">
      <h2><a href="#">Saiu a nova Versão do Angular</a></h2>
  </div>
  <div class="big-card_description">
    <p>
      <a href="">
        O Angular 17 foi lançado em 06 de novembro de 2023, ele veio com algumas novidadesnovas sintaxes e templates, carregamento adiado de template ,nova documentação e uma melhor experiencia de usúário e etc.
        </a>
    </p>

  </div>

</section>
</aside>
