<section class="container_content">
  <div class="content_cover">
    <img src="https://miro.medium.com/v2/resize:fit:1358/1*rHhkqFJ0PVEMHwcHjJZaKA.png" alt="">
  </div>
  <div>
    <h1>Minha noticia</h1>
  </div>

  <div class="content_description">
    <p>
      O Angular 17, lançado em fevereiro de 2024, traz várias melhorias e recursos empolgantes para desenvolvedores. Entre os destaques, podemos citar:

Desempenho Aprimorado:

Redução do tamanho do pacote: O tamanho do pacote Angular foi reduzido significativamente, resultando em tempos de carregamento mais rápidos para suas aplicações.
Compilação AOT mais rápida: A compilação AOT agora é ainda mais rápida, otimizando o processo de desenvolvimento.
Detecção de mudanças aprimorada: A detecção de mudanças foi aprimorada, resultando em melhor desempenho e menor uso de recursos.
Experiência do Desenvolvedor Aprimorada:

    </p>
  </div>
</section>
