
<header >
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<main class="container_main">

    <article class="article_main">
      <app-big-card
      photoCover="https://www.sitepen.com/typescript-code-blocks.34Qg3nlF.svg"
      cardTitle="TypeScript: Uma Linguagem de Programação Versátil e Robusta"
      cardDescription=" suas principais caracteristicas: tipagem estática, Orientação a objetos, classes e interfaces, compilação para o javascript."
      ></app-big-card>
    </article>

    <article>
      <section>
        <app-small-card
        photoSmallCard="https://raw.githubusercontent.com/llanojs/Readme_template/master/react-logo.jpg"
        titleSmallCard="Librie React"
        descriptionSmallCard=" Ideal para interfaces de usuário complexas e interativas, com foco na manipulação do DOM virtual."
        ></app-small-card>
      </section>

      <section>
        <app-small-card
        photoSmallCard="https://miro.medium.com/v2/resize:fit:1358/0*KNqK1IFDqENcyGXS"
        titleSmallCard="Framework Angular"
        descriptionSmallCard="Framework completo para aplicações web complexas, com foco em robustez e escalabilidade."
        ></app-small-card>
      </section>

      <section>
        <app-small-card
        photoSmallCard="https://belenos.me/media/2021-05-vuejs.webp"
        titleSmallCard="Framework Vue"
        descriptionSmallCard="Opção leve e flexível, ideal para projetos menores ou como complemento de outras bibliotecas."
        ></app-small-card>
      </section>

    </article>

</main>
